{% extends 'layouts/home.njk' %}
{% set homeContent = collections.main[0] %}

{% block rationale %}
  {% excerptRationale homeContent %}
{% endblock %}

{% block furtherInfo %}
  {% excerptFurtherInfo homeContent %}
{% endblock %}