:root {
  --color-base: #f2f8ff;
  --color-primary: rgb(110, 129, 156);
  --color-secondary: rgb(98, 116, 142);
  --color-shadow: rgba(209, 230, 255, 0.57) 0px 2px 24px 1px;
  --color-shadow-heavy: rgb(198, 223, 253) 0px 2px 24px 1px;
  --color-dark: rgba(0, 0, 0, 0.65);
  --color-darkest: #000000;
  --color-light: #ffffff;

  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-serif: Georgia, Times, serif;
  --font-light: 400;
  --font-normal: 500;
  --font-heavy: 700;
  --font-heaviest: 900;

  --radius: 30px;

  font-size: 13px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-base);
  font-family: var(--font-sans-serif);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-light);
}

.layout-container {
  padding: 0 1em;
  width: 100%; /* TODO: at some point we'll require a max-wdith for big screens*/
  max-width: 980px;
  margin: 0 auto;
}

.card {
  background-color: var(--color-light);
  border-radius: var(--radius);
  padding: 1.8rem;
  box-shadow: var(--color-shadow);
  color: var(--color-secondary);
}

.card p {
  font-weight: var(--font-normal);
}

.card ul {
  display: inline-block;
  text-align: left;
  margin-left: 1rem;
}

.card table {
  width: 100%;
}

.card table thead th {
  /* background-color: green; */
  border-bottom: 0.2rem solid var(--color-dark);
}

.card table tbody tr:nth-child(odd) {
  background-color: var(--color-base);
}

.card table tbody tr > td {
  padding: 0.5rem;
}

#checklist .card ul {
  margin-left: 0;
}

#checklist .card ul li {
  list-style-type: none;
}

#checklist .card ul li:before {
  margin-right: 1rem;
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url("../../icons/check-mark.svg");
  /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/93/Tango-bullet.svg); */
  background-size: contain;
  background-repeat: no-repeat;
}
.modules {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.module__container {
  padding: 0;
}

.module__container > a {
  padding: 1.8rem;
}

.module {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}

.module:hover {
  transform: scale(1.1);
  box-shadow: var(--color-shadow-heavy);
}

.module__anchor {
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.module__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.module__icon {
  width: 6em;
  height: 6em;
  margin-bottom: 1em;
}

.module__title {
  font-weight: var(--font-heavy);
  color: var(--color-secondary);
  text-align: center;
}

.content {
  margin-bottom: 1rem;
}

.content .card *:nth-child(n + 2) {
  margin-top: 1rem;
}

.section-heading {
  display: flex;
  color: var(--color-primary);
  font-weight: var(--font-heavy);
  margin-bottom: 1rem;
}

.section-heading__tooltip {
  margin-left: 0.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.section-heading__tooltip:hover {
  color: var(--color-secondary);
}

.section-heading__tooltip-text {
  visibility: hidden;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: var(--font-light);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  width: 40vw;
  max-width: 520px;
}

.section-heading__tooltip:hover .section-heading__tooltip-text {
  visibility: visible;
  opacity: 0.7;
}

.heading {
  border-radius: 0px 0px var(--radius) var(--radius);
  animation-name: pop;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes pop {
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.heading__navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.heading__navbar .logo {
  height: 4rem;
  width: 4rem;
  transition: transform 0.2s;
}

.logo:hover {
  transform: rotate(-2deg);
}

.heading__icons {
  display: flex;
  align-items: center;
}

.heading__icon {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  border: 0.1rem solid var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 0.5rem;
  transition: all 0.2s;
}

.heading__icon:hover {
  text-decoration: none;
  border-color: var(--color-secondary);
  box-shadow: var(--color-shadow);
}

.heading__icon:visited {
  text-decoration: none;
  color: var(--color-primary);
}

.heading__text h1 {
  margin-bottom: 1rem;
  font-family: var(--font-serif);
  color: var(--color-darkest);
  font-weight: var(--font-heaviest);
}

.heading__text p {
  font-weight: var(--font-light);
  color: var(--color-dark);
}

.content > section {
  margin-top: 2rem;
}

.content__title {
  color: var(--color-primary);
  font-weight: var(--font-heavy);
  margin-bottom: 1rem;
}

.footer {
  border-top: 0.05rem solid var(--color-secondary);
  text-align: center;
  padding: 1rem 0rem;
  font-size: 1.2rem;
  color: var(--color-dark);
  margin-top: 2rem;
  font-weight: var(--font-light);
}

.disabled,
.disabled > * {
  cursor: not-allowed;
}

.locked {
  pointer-events: none;
}

a {
  color: inherit;
}
a:visited {
  color: inherit;
}

@media only screen and (min-width: 520px) {
  :root {
    font-size: 18px;
  }
}

@media only screen and (min-width: 980px) {
  :root {
    font-size: 22px;
  }

  .layout-container {
    padding: 0 2em;
  }
}
