{% macro moduleCard(props) %}
  <div class="module__container card module {{ "disabled" if props.icon === "padlock" }}">
    <a href="{{props.url if props.icon !== "padlock" else "#" | url}}" 
      class="module__anchor {{ "locked" if props.icon === "padlock" }}">
      <div class="module__card">
        <img class="module__icon" src="icons/{{props.icon}}.svg" alt="{{props.icon}}" />
        <span class="module__title">{{props.moduleTitle | title}}</span>
      </div>
    </a>
  </div>
{% endmacro %}