<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>No Debt CS</title> 
</head> 
<body>
  <header>
    Temp Site Header
  </header> 
  <main>
  {% block content %}
  {% endblock %}
  </main> 
  
  <footer>Made by Sonjeet Paul</footer> 
</body> 
</html>