<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% set css %}{% include "styles/styles.css" %}{% endset %}
  <style>
  {# TODO: before deploying, minify the css https://www.11ty.dev/docs/quicktips/inline-css/ #}
    {{ css | safe }}
  </style>
  <script src="https://kit.fontawesome.com/a7ed7ec2ae.js" crossorigin="anonymous"></script>
  <title>No Debt CS</title>
</head> 
<body>
  <section class="layout-container">
    <header class="heading card">
      <nav class="heading__navbar">
        <a href="/">
          {% block logo %}
            <img class="heading__navbar logo" src="icons/logo.svg" alt="Computer Science logo"/>
          {% endblock %}
        </a>
        <div class="heading__icons">
          <a href="https://www.linkedin.com/in/sonjeet/" target="_blank" class="heading__icon"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com//sonjeet/no-debt-cs" target="_blank" class="heading__icon"><i class="fab fa-github"></i></a>
        </div>
      </nav>
      <div class="heading__text">
        {% block heading %}
        {% endblock %}
      </div>
    </header>
    <main class="content">
      {% block content %}
      {% endblock %}
    </main>
  </section>
  <footer class="footer">
    <span>A website by <a href="https://sonjeetpaul.tech/">Sonj</a></span>
  </footer> 
</body> 
</html>